:root,
:host {
  --kk-red: #E81839;
  --kk-blue: #3465B1;
  --kk-gray: #F1F3F8;
  --kk-black: #313234;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: var(--kk-gray);
}

button {
  border: 0;
  cursor: pointer;
}